enum34==1.1.6
future==0.15.2
hashlib==20081119
joblib==0.9.4
matplotlib==1.5.1
mayavi==4.5.0
MDP==3.5
numpy==1.11.0
scikit-learn==0.18
scipy==0.17.0
tables==3.2.2
traitlets==4.3.1
traits==4.5.0
traitsui==4.5.1
VTK==5.10.1
wcwidth==0.1.7
wxPython==3.0.2.0
wxPython-common==3.0.2.0
